/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f3f4f6; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 430px;
    padding: 40px;
}

.form-content {
    text-align: center;
}

.form header {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.button-field button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.button-field button:hover {
    background-color: #0056b3;
}

.form-link {
    margin-top: 20px;
    font-size: 14px;
}

.form-link a {
    color: #007bff;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}
